<template>
        <div class="wrapper">
            <h1 class="title">Каталог</h1>
            <div class="rows">

                <span style="display: none" id="priceFromRange" v-on:click="changePrice" ></span>
                <span style="display: none" id="priceToRange" v-on:click="changePrice" ></span>
                <span style="display: none" id="typeSort" v-on:click="typeSort" ></span>
                <!-- CATEGORY SIDEBAR -->
                <aside class="category_sidebar">
                    <div class="filterWrap isOpened">
                        <div class="filterHead">Цена</div>
                        <div class="filterBody filterSlider">
                            <div id="filter_price"></div>
                            <div class="rows">
                                <input type="text" id="amount_from" class="from" readonly style="border:0;">
                                <input type="text" id="amount_to" class="to" readonly style="border:0;">
                            </div>
                        </div>
                    </div>
                    <div v-for="filterBlock in filters" class="filterWrap isOpened">
                        <div class="filterHead">{{filterBlock.name.name}}</div>
                        <ul class="filterBody">
                            <li v-for="filter in filterBlock.data">
                                <input  v-bind:value="filter.id" type="checkbox" v-on:click="filteOn(filter.id)"  class="checkbox" v-bind:id="'filter_ch_'+filter.id">
                                <label v-bind:for="'filter_ch_'+filter.id">{{filter.name}}</label>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!-- CATEGORY CONTENT -->
                <div class="category_content">
                    <div class="rows">
                        <select name="" class="filter_sort_by"  data-placeholder="Сортировка">
                            <option value="0"></option>
                            <option value="1">Новейшие</option>
                            <option value="2">По возрастанию цены</option>
                            <option value="3">По убыванию цены</option>
                            <option value="4">Название А-Я</option>
                            <option value="5">Название Я-А</option>
                        </select>
                    </div>
                    <div class="category_items">
                        <div v-for="item in items" class="category_item" v-bind:style="{ 'background-image': 'url(' + item.image + ')' }">
                            <div class="img" v-bind:style="{ 'background-image': 'url(' + item.image + ')' }"></div>
                            <div class="category_info">
                                <h3 class="hh"><span>{{item.title}}</span></h3>
                                <div class="currency || js_DropWrap">
                                    <div><span>{{item.price}} руб.</span><i class="currency_btn || js_DropBtn"></i></div>
                                    <ul class="currency_box || js_DropBox">
                                        <li class="cur_item">USD</li>
                                        <li class="cur_item">EUR</li>
                                    </ul>
                                </div>
                                <div class="category_btns">
                                    <a href="product.php" class="button"><span>Подробнее</span><i class="ic_dir_arrow"></i></a>
                                    <button class="button"><span>В корзину</span><svg class="icon icon-cart"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/svgdefs.svg#icon-cart"></use></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="paginations">
                        <li v-on:click="prevPage" class="prev"><a ></a></li>
                        <li v-for="n in pageAll"  v-bind:class="[n==pageActive ? 'active' : '']"  v-on:click="pageSelect(n)"><a >{{n}}</a></li>
                        <li v-on:click="nextPage" class="next"><a ></a></li>
                    </ul>
                </div>
            </div>
        </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                priceTo: 0,
                priceFrom: 0,
                sortCatalog: '',
                items: [],
                filters: [],
                categoryArr: [],
                pageAll: '',
                pageActive: 1,
            }
        },
        methods:{
            typeSort(){
                this.sortCatalog = $('#typeSort').text();

                this.pageActive = 1;
                axios.post('/api/list-catalog',{params: {
                    idFilters: this.categoryArr,
                    priceFrom: this.priceFrom,
                    priceTo: this.priceTo,
                    sort: this.sortCatalog,
                    pageId: this.pageActive
                }}).then(response => {
                    this.items = response.data.products;
                    this.pageAll = response.data.pageAll;
                });
            },
            changePrice(){
                this.priceTo = $('#priceToRange').text();
                this.priceFrom = $('#priceFromRange').text();

                this.pageActive = 1;
                axios.post('/api/list-catalog',{params: {
                    idFilters: this.categoryArr,
                    priceFrom: this.priceFrom,
                    priceTo: this.priceTo,
                    sort: this.sortCatalog,
                    pageId: this.pageActive
                }}).then(response => {
                    this.items = response.data.products;
                    this.pageAll = response.data.pageAll;
                });
            },
            prevPage: function(){
                if(this.pageActive!=1){
                    this.pageActive = this.pageActive-1
                }
                axios.post('/api/list-catalog',{params: {
                    idFilters: this.categoryArr,
                    priceFrom: this.priceFrom,
                    priceTo: this.priceTo,
                    sort: this.sortCatalog,
                    pageId: this.pageActive
                }}).then(response => {
                    this.items = response.data.products;
                });
            },
            nextPage: function(){
                if(this.pageActive!=this.pageAll) {
                    this.pageActive = this.pageActive + 1
                }
                axios.post('/api/list-catalog',{params: {
                    idFilters: this.categoryArr,
                    priceFrom: this.priceFrom,
                    priceTo: this.priceTo,
                    sort: this.sortCatalog,
                    pageId: this.pageActive
                }}).then(response => {
                    this.items = response.data.products;
                });
            },
            pageSelect: function(i){
                this.pageActive = i

                axios.post('/api/list-catalog',{params: {
                    idFilters: this.categoryArr,
                    priceFrom: this.priceFrom,
                    priceTo: this.priceTo,
                    sort: this.sortCatalog,
                    pageId: this.pageActive
                }}).then(response => {
                    this.items = response.data.products;
                });
            },
            listCatalog: function (event) {
                axios.post('/api/list-catalog').then(response => {
                    this.items = response.data.products;
                    this.filters = response.data.filters;
                    this.pageAll = response.data.pageAll;
                });
            },

            filteOn: function(i){
                if( this.categoryArr[i]>0){
                    delete this.categoryArr[i];
                }else{
                    this.categoryArr[i] = i;
                }

                this.pageActive = 1;

                axios.post('/api/list-catalog',{params: {
                    idFilters: this.categoryArr,
                    priceFrom: this.priceFrom,
                    priceTo: this.priceTo,
                    sort: this.sortCatalog,
                    pageId: this.pageActive
                }}).then(response => {
                    this.items = response.data.products;
                    this.pageAll = response.data.pageAll;
                });
            }
        },
        computed: {
        },
        mounted() {
           this.listCatalog();
        }
    }
</script>
